<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
	<script src="node_modules/chat-engine-emoji/dist/chat-engine-emoji.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
	
</head>
<body>
	<main id="app">		
		<section class="form-container">
			
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			
			<form>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" @keydown="dispatchNotification" placeholder="Write a reply..."></textarea>
				<input type="submit" @click.prevent="dispatchMessage">
			</form>

			<p>{{notification.message}}</p>
		</section>
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
                <!--render one of message components here-->
                <newmessage :msg="message"></newmessage>
				
			</ul>
		</section>		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>
</html>