.dots{
    background: lightgray;
    display: inline-block;
    padding: 3px 6px;
    color: gray;
    border-radius: 8px;
    opacity: 0;
    transition: opacity .5s;
    margin-left: 10px;
  }
  
  .active{
    opacity: 1 !important;
  }