.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding:10px 20px;
    background-color: rgb(226, 152, 177); 
    border-radius:25px;
    margin-bottom: 1rem;
    color: black;
    float:left;
    clear: both;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
    

.my-message {
    float: right !important;
    // background-color: #71a8a4;
    // color: black;
    padding:10px 20px;
	color:white; 
	background:rgb(170, 33, 90);
	border-radius:25px;
	float: right;
    
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


